# Ignore the node_modules folder
node_modules/

# Ignore all files in the build/ directory
build/

# Ignore specific files
dist/bundle.js

# Ignore all JavaScript files in a specific directory
public/**/*.js

# Ignore files by pattern
**/*.min.js

# Ignore test files
tests/**/*.test.js
